In [211]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/bengaluru-house-price-data/Bengaluru_House_Data.csv

In [212]:
df=pd.read_csv('/kaggle/input/bengaluru-house-price-data/Bengaluru_House_Data.csv')

In [213]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [214]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [223]:
#1.data gathering
#2.data assessing
#3.correct the incorrect datas[area_type,availability,total_sqft,bath,balcony]
#4.missing values[balcony,bath,society,size,location]
#5.cleaning data

In [224]:
sum(df['price'].isnull())

0

In [225]:
#data types 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [226]:
df.describe().T

           count        mean         std  min   25%   50%    75%     max
bath     13247.0    2.692610    1.341458  1.0   2.0   2.0    3.0    40.0
balcony  12711.0    1.584376    0.817263  0.0   1.0   2.0    2.0     3.0
price    13320.0  112.565627  148.971674  8.0  50.0  72.0  120.0  3600.0

In [227]:
df.sample(10)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
12251,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1075,2.0,1.0,33.00
4098,Super built-up Area,Ready To Move,Garudachar Palya,2 BHK,NaN,1150,2.0,1.0,52.80
3114,Built-up Area,Ready To Move,Sanjeevini Nagar,3 BHK,Betatsi,2820,3.0,NaN,285.00
7219,Super built-up Area,17-Jun,Nallurhalli,2 BHK,Mauil T,1044,2.0,1.0,60.00
11436,Super built-up Area,Ready To Move,Nagasandra,3 BHK,NaN,1650,3.0,2.0,95.00
8634,Super built-up Area,Ready To Move,Hennur,2 BHK,SLureSi,1020,2.0,1.0,48.00
5876,Super built-up Area,Ready To Move,Kaggadasapura,3 BHK,Mancya,1256,2.0,2.0,50.00
12370,Super built-up Area,Ready To Move,Doddakallasandra,2 BHK,NaN,1072,2.0,1.0,42.87
11705,Super built-up Area,Ready To Move,Choodasandra,3 BHK,MJiyayl,1560,3.0,2.0,78.00
10,Super built-up Area,18-Feb,Whitefield,3 BHK,NaN,1800,2.0,2.0,70.00

In [228]:
#missing values
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [229]:
#handelling missing values
df.dropna(subset=['location'],inplace = True)   #forlocation

df['size']= df['size'].fillna('2 BHK')  #for size

df['society']= df['society'].fillna('No society')   #for society

df['bath']= df['bath'].fillna(df['bath'].min())    #for bath

df['balcony']= df['balcony'].fillna(df['bath'].min())   #for balcony

In [230]:
df.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [231]:
#correction of incorrect data types
#converting objects to category
df['area_type']=df['area_type'].astype('category')
df['availability']=df['availability'].astype('category')
df['society']=df['society'].astype('object')

In [232]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13319 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13319 non-null  category
 1   availability  13319 non-null  category
 2   location      13319 non-null  object
 3   size          13319 non-null  object
 4   society       13319 non-null  object
 5   total_sqft    13319 non-null  object
 6   bath          13319 non-null  float64
 7   balcony       13319 non-null  float64
 8   price         13319 non-null  float64
dtypes: category(2), float64(3), object(4)
memory usage: 861.8+ KB

In [233]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,No society,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,No society,1200,2.0,1.0,51.00

In [234]:
#outlairs in size

df['size']=df['size'].replace(['2 Bedroom','3 Bedroom','4 Bedroom','5 Bedroom','6 Bedroom','1 Bedroom','8 Bedroom','7 Bedroom','9 Bedroom'],['2 BHK','3 BHK','4 BHK','5 BHK','6 BHK','1 BHK','8 BHK','7 BHK','9 BHK'])
df['size']=df['size'].replace(['1 RK','10 Bedroom','11 Bedroom','12 Bedroom','18 Bedroom','43 Bedroom'],['1 BHK','10 BHK','11 BHK','12 BHK','18 BHK','43 BHK'])
df['size'].value_counts()

2 BHK     5544
3 BHK     4856
4 BHK     1417
1 BHK      656
5 BHK      356
6 BHK      221
7 BHK      100
8 BHK       89
9 BHK       54
10 BHK      14
11 BHK       4
43 BHK       1
13 BHK       1
27 BHK       1
12 BHK       1
16 BHK       1
18 BHK       1
19 BHK       1
14 BHK       1
Name: size, dtype: int64

In [235]:
#outlairs in availability

a=[s for s in df['availability'] if s not in ['Ready To Move','Immediate Possession']]
df['availability']=df['availability'].replace(a,'To be available soon')
df['availability'].value_counts()

Ready To Move           10580
To be available soon     2723
Immediate Possession       16
Name: availability, dtype: int64

In [236]:
#outliers in bath

df['bath']=df['bath'].replace([s for s in df['bath'] if s not in [1,2,3,4]],4)
df['bath'].value_counts()

2.0    6908
3.0    3285
4.0    2265
1.0     861
Name: bath, dtype: int64

In [237]:
#outliers in total_sqft

df['total_sqft']=df['total_sqft'].replace(['2100 - 2850'],750)
df['total_sqft']=df['total_sqft'].replace(['3010 - 3410'],750)
df['total_sqft']=df['total_sqft'].replace(['2957 - 3450'],750)
df['total_sqft']=df['total_sqft'].replace(['3067 - 8156'],750)
df['total_sqft'].value_counts()

1200           843
1100           221
1500           205
2400           196
600            180
              ...
774              1
2232             1
1000 - 1285      1
3670             1
2495             1
Name: total_sqft, Length: 2114, dtype: int64

In [238]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,To be available soon,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 BHK,Theanmp,2600,4.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,No society,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,No society,1200,2.0,1.0,51.00

In [242]:
df.head(50)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,To be available soon,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 BHK,Theanmp,2600,4.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,No society,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,No society,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,To be available soon,Old Airport Road,4 BHK,Jaades,2732,4.0,1.0,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,1.0,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,No society,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,others,6 BHK,No society,1020,4.0,1.0,370.00
10,Super built-up Area,To be available soon,Whitefield,3 BHK,No society,1800,2.0,2.0,70.00
11,Plot Area,Ready To Move,Whitefield,4 BHK,Prrry M,2785,4.0,3.0,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2.0,1.0,38.00
13,Built-up Area,Ready To Move,Gottigere,2 BHK,No society,1100,2.0,2.0,40.00
14,Plot Area,Ready To Move,Sarjapur,3 BHK,Skityer,2250,3.0,2.0,148.00
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2.0,2.0,73.50
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3.0,2.0,48.00
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540,3.0,3.0,60.00
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770,4.0,2.0,290.00
19,Super built-up Area,Ready To Move,Manayata Tech Park,2 BHK,No society,1100,2.0,2.0,48.00
20,Built-up Area,Ready To Move,Kengeri,1 BHK,No society,600,1.0,1.0,15.00
21,Super built-up Area,To be available soon,Binny Pete,3 BHK,She 2rk,1755,3.0,1.0,122.00
22,Plot Area,Ready To Move,Thanisandra,4 BHK,Soitya,2800,4.0,2.0,380.00
23,Super built-up Area,Ready To Move,Bellandur,3 BHK,No society,1767,3.0,1.0,103.00
24,Super built-up Area,To be available soon,others,1 BHK,Bhe 2ko,510,1.0,0.0,25.25
25,Super built-up Area,To be available soon,others,3 BHK,No society,1250,3.0,2.0,56.00
26,Super built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,660,1.0,1.0,23.10
27,Built-up Area,To be available soon,Whitefield,3 BHK,No society,1610,3.0,2.0,81.00
28,Super built-up Area,To be available soon,Ramagondanahalli,2 BHK,ViistLa,1151,2.0,2.0,48.77
29,Super built-up Area,Ready To Move,Electronic City,3 BHK,KBityo,1025,2.0,1.0,47.00
30,Super built-up Area,To be available soon,Yelahanka,4 BHK,LedorSa,750,4.0,0.0,186.00
31,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1075,2.0,1.0,35.00
32,Super built-up Area,Ready To Move,Hebbal,3 BHK,Mahosya,1760,2.0,2.0,123.00
33,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1693,3.0,3.0,57.39
34,Built-up Area,Ready To Move,Kasturi Nagar,3 BHK,Kantsce,1925,3.0,1.0,125.00
35,Super built-up Area,To be available soon,Kanakpura Road,2 BHK,PrarePa,700,2.0,1.0,36.00
36,Super built-up Area,Ready To Move,Electronics City Phase 1,2 BHK,No society,1070,2.0,1.0,45.50
37,Super built-up Area,Ready To Move,Kundalahalli,3 BHK,Dieldli,1724,3.0,2.0,125.00
38,Super built-up Area,Ready To Move,Chikkalasandra,3 BHK,No society,1290,2.0,2.0,56.12
39,Built-up Area,Ready To Move,Uttarahalli,2 BHK,No society,1143,2.0,2.0,45.00
40,Built-up Area,Ready To Move,Murugeshpalya,2 BHK,Gentson,1296,2.0,1.0,81.00
41,Super built-up Area,To be available soon,Sarjapur Road,3 BHK,Soini T,1254,3.0,2.0,38.00
42,Super built-up Area,Ready To Move,Ganga Nagar,1 BHK,Ceove G,600,1.0,0.0,38.00
43,Plot Area,Ready To Move,Yelahanka,1 BHK,No society,660,1.0,0.0,48.00
44,Super built-up Area,To be available soon,Kanakpura Road,2 BHK,Soazak,1330.74,2.0,2.0,91.79
45,Plot Area,Ready To Move,HSR Layout,8 BHK,No society,600,4.0,1.0,200.00
46,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,LancyRe,970,2.0,0.0,33.00
47,Super built-up Area,To be available soon,Whitefield,2 BHK,Goted U,1459,2.0,1.0,94.82
48,Plot Area,Ready To Move,KR Puram,2 BHK,No society,800,1.0,1.0,130.00
49,Built-up Area,Ready To Move,others,2 BHK,No society,869,2.0,1.0,36.00